body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #ffffff;
        }

h2 {
            text-align: center;
            margin-top: 30px;
            font-size: 22px;
            font-weight: bold;
        }
.summary-box {
            width: 350px;
            margin: 20px auto;
            padding: 15px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0px 0px 10px #ccc;
            text-align: center;
        }

.card {
            width: 50%;
            background: #fff;
            padding: 25px;
            border: 1px solid #ddd;
            margin: 20px auto;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
.card h3 {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: bold;
        }

.totals {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }

.totals h4 {
            margin-bottom: 5px;
        }

        .green { color: #00a000; font-weight: bold; font-size: 18px; }
        .red { color: #d00000; font-weight: bold; font-size: 18px; }

.container {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 30px auto;
        }
table {
            width: 55%;
            border-collapse: collapse;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
th {
            background: #94db37;
            font-weight: bold;
        }

table, th, td {
            border: 1px solid #ddd;
        }

th, td {
            padding: 12px;
            text-align: center;
            font-size: 15px;
        }
.form-box {
            width: 35%;
            background: #fff;
            border: 1px solid #ccc;
            padding: 25px;
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }

input, select, button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 4px;
            border: 1px solid #bbb;
            font-size: 14px;
        }

button {
            cursor: pointer;
            background: #0084ff;
            color: #fff;
            border: none;
            font-weight: bold;
        }
